{% extends "foodcart/base.html" %}

{% load static %}

<link href="{% static 'foodcart/home.css'%}" rel="stylesheet">

{% block title %}The Foocart Team{% endblock %}

{% block content %}
<h1 class="page-header"> The Power Team </h1>

<p class="jumbotron">The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
</p>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Ms. Nyaboke Ongera</h2>
        <p>The CEO, ethusiastic Technologist and a Food Lover</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Sir Jeremiah George</h2>
        <p>The CIO, Back-end developer and a Pizza Maker</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Mr. Ishmael Kipkoech</h2>
        <p>Web Security specialist and Penetration Tester </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Mr. Olenkarire Ole</h2>
        <p>A Tech-Agriculturalist and Grocery Supplier</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Mr. Rotich Kevo</h2>
        <p>Business Specialist and Financial Adviser</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	 <!--  <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Ms Wajiko Faith</h2>
        <p>Front-End Developer</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div> --><!-- /.col-lg-4 -->
    </div><!-- /.row -->


{% endblock content %}
