{% extends "foodcart/base.html" %}

{% load static %}

<link href="{% static 'foodcart/home.css'%}" rel="stylesheet">

{% block title %}The Foocart Gallery{% endblock %}

{% block content %}
<h1 class="page-header"> Our Distributors </h1>

<p class="jumbotron">The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
The Team is made up of Dynamic duo of flexible individuals who are optimistic about the food tech field and delivery
</p>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
        <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Mnarani Club</h2>
        <p>This cool and ambiance chill spot along the Kilifian Hub near the Kilifi bridge.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Vogue Club</h2>
        <p>Catch the Karaokean culture kick in in Kilifi alongside a barbaque roast beef</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Da Coffee</h2>
        <p>Catch the Karaokean culture kick in in Kilifi alongside a barbaque roast beef </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Da Pot Villa</h2>
        <p>Where all the Party action resides. An exquisite and beautiful touched environment that let the party mood set in without no complexities</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Creek Club</h2>
        <p>Where all the Party action resides. An exquisite and beautiful touched environment that let the party mood set in without no complexities</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
	  <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Bibo Lounge</h2>
        <p>Where all the Party action resides. An exquisite and beautiful touched environment that let the party mood set in without no complexities</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    </div><!-- /.row -->


{% endblock content %}
